<div id="<%= "#{dom_id(todo)}_item" %>">
  <%= turbo_frame_tag dom_id(todo) do %>

    <%= link_to todo.title, edit_todo_path(todo), class: "#{"text-decoration-line-through" if todo.complete?}" %>

    <% if todo.complete? %>
      <%= button_to "Mark incomplete", todo_path(todo, todo: { status: 'incomplete'}), method: :patch, class: "bg-neutral-50 px-3 py-2 rounded inline-flex items-center justify-center text-neutral-600" %>
    <% else %>
      <%= button_to "Mark complete", todo_path(todo, todo: { status: 'complete'}), method: :patch, class: "bg-green-50 px-3 py-2 rounded inline-flex items-center justify-center text-green-600" %>
    <% end %>

    <%= button_to "delete", todo_path(todo), method: :delete, class: "btn btn-danger" %>
  <% end %>


</div>
